.navbar {
  background-color: rgb(28 36 49);
  color: aqua;
  overflow: hidden;
  position: fixed;
  z-index: 1000;
  width: 98%;
  padding-left: 15px;
  padding-right: 15px;
  height: fit-content;
  font-size: 20px;
}

.navbar-items{
  margin-top: 10px;
  margin-bottom: 10px;
  height: 30px;
  display: inline-flex;
}

#menubtn{
  background-image: url(../../Assets/menubar.png);
  background-size: cover;
  width: 27px;
  margin-right: 1vw;
  display: block;
}

#logo{
  background-image: url(../../Assets/logo.png);
  background-size: cover;
  width: 30px;
  margin-right: 1vw;
  display: block;
}

#title{
  font-style: italic;
  font-weight: bolder;
}

#links-1{
  margin: 4px 2vw 4px 2vw;
  font-size: 16px;
  display: none;
}

#links-2{
  width: inherit;
  margin-right: 2vw;
  margin-top: 4px;
  margin-bottom: 4px;
  font-size: 16px;
  text-align: center;
  display: block;
  transition: margin-bottom 0.5s ease-in-out;
}

#links-2.toggle{
  margin-bottom: -32px;
}

#links-1 i:hover, #links-2 i:hover , .active{
  background-color: rgba(127, 255, 212, 0.514);
}

@media screen and (min-width: 680px) {
  #links-2, #menubtn{
    display: none;
  }

  #links-1{
    display: block;
  }
}